.positive_color:hover {
  color: green;
  border: 1px solid;
}

.negative_color:hover {
  color: red;
  border: 1px solid;
}

.p_heading {
  font-size: 35px;
  margin-bottom: 30px;
}

.card_container {
  display: flex;
}

.card {
  margin-left: 20px;
  width: 288px;
}

.tableContainer {
  overflow: "hidden";
  margin: 20px;
}

.cardHeader {
  font-size: 15px;
}

.cardItem{
    font-size: 25px;
}

@media (max-width: 768px) {
  .card_container {
    font-size: 20px;
  }
  .card {
    font-size: 20px;
    width: 150px;
    height: 100px;
  }
  .p_heading {
    font-size: 25px;
  }
  .tableContainer {
    margin: 10px;
  }
  .tableHeading {
    font-size: 15px;
  }
  .cardHeader {
    font-size: 15px;
  }
  .cardItem{
    font-size: 20px;
}
}
@media (max-width: 425px) {
  .card_container {
    font-size: 10px;
  }
  .card {
    font-size: 10px;
    width: 100px;
    height: 120px;
  }
  .p_heading {
    font-size: 25px;
  }
  .tableContainer {
    margin: 10px;
  }
  .tableHeading {
    font-size: 15px;
  }
  .cardHeader {
    font-size: 10px;
  }
  .cardItem{
    font-size: 10px;
}
}
